# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist

# PySpelling-related temporary files
*.dic
*.aff
*.xml

# PySpelling cache and configuration
.pyspelling/

# Obsidian Markdown notes
**/.obsidian
